{% extends 'base.html' %}
{% load static %}

{% block 'body' %}
    <div class="flex min-h-full h-screen">
        <div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
            <div class="mx-auto w-full max-w-sm lg:w-96">
                <div>
                    <div class="flex items-center gap-2 text-indigo-700">
                        <span class="text-3xl">⚖️</span>
                        <span class="text-lg font-semibold tracking-tight">{{ escritorio_nome }}</span>
                    </div>
                    <h2 class="mt-8 text-2xl/9 font-bold tracking-tight text-gray-900">Entre em sua conta</h2>
                    <p class="mt-1 text-sm text-gray-500">Sistema de gestão jurídica</p>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="rounded-md {{ message.tags }} mt-4">
                                <div class="flex">
                                    <div class="ml-3 py-4">{{ message }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="mt-10">
                    <div>
                        <form action="{% url 'login' %}" method="POST" class="space-y-6">
                            {% csrf_token %}
                            <div>
                                <label for="username" class="block text-sm/6 font-medium text-gray-900">Username</label>
                                <div class="mt-2">
                                    <input id="username"
                                           type="text"
                                           name="username"
                                           required
                                           autocomplete="username"
                                           class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                                </div>
                            </div>
                            <div>
                                <label for="password" class="block text-sm/6 font-medium text-gray-900">Senha</label>
                                <div class="mt-2">
                                    <input id="password"
                                           type="password"
                                           name="senha"
                                           required
                                           autocomplete="current-password"
                                           class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                                </div>
                            </div>
                            <div>
                                <button type="submit"
                                        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                                    Logar
                                </button>
                            </div>
                        </form>
                        <a href="{% url 'cadastro' %}"
                                class="mt-4 flex text-indigo-800 w-full justify-center rounded-md bg-indigo-100 px-3 py-1.5 text-sm/6 font-semibold shadow-xs hover:bg-indigo-200 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-200">
                            Não tenho uma conta
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative hidden w-0 flex-1 lg:block">
            <img src="{% static 'banner.jpg' %}"
                 alt=""
                 class="absolute inset-0 size-full object-cover" />
        </div>
    </div>
{% endblock 'body' %}